<div id="our-client" class="our-client-section section p-b-7r">
    <div class="custom-container">
        <h2 class="section-title all-caps text-center sanfpro-bold">
            Our Clients
        </h2>


        <div class="client-list-wrapper d-md-block d-none">
            <div class="row">
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/phc_log.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/phc_log.png"
                            alt="WEBQLO Client - Pizza Hut Thailand" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/abbott_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/abbott_logo.png"
                            alt="WEBQLO Client - Abbott" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/hbct_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/hbct_logo.png"
                            alt="WEBQLO Client - Hokkaido Baked Cheese Tart" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/sr_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/sr_logo.png"
                            alt="WEBQLO Client - Secret Recipe" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/spritzer_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/spritzer_logo.png"
                            alt="WEBQLO Client - Spritzet" width="300" height="150" />
                    </picture>
                </div>
            </div><!-- desktop row 1 -->
            <div class="row">
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/nars_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/nars_logo.png"
                            alt="WEBQLO Client - NARS" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/shiseido_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/shiseido_logo.png"
                            alt="WEBQLO Client - Shiseido" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/cpb_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/cpb_logo.png"
                            alt="WEBQLO Client - Cle De Peau" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/laura_mercier_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/laura_mercier_logo.png"
                            alt="WEBQLO Client - Laura Mercier" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/laneige_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/laneige_logo.png"
                            alt="WEBQLO Client - Laneige" width="300" height="150" />
                    </picture>
                </div>
            </div><!-- desktop row 2 -->
            <div class="row">
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/clarins_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/clarins_logo.png"
                            alt="WEBQLO Client - Clarins" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/estee_lauder_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/estee_lauder_logo.png"
                            alt="WEBQLO Client - Estee Lauder" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/zuellig_pharma_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/zuellig_pharma_logo.png"
                            alt="WEBQLO Client - Zuellig Pharma" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/mahsing_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/mahsing_logo.png"
                            alt="WEBQLO Client - Mah Sing" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/loreal_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/loreal_logo.png"
                            alt="WEBQLO Client -  L'Oréal" width="300" height="150" />
                    </picture>
                </div>
            </div><!-- desktop row 3 -->
            <div class="row">
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/taisho_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/taisho_logo.png"
                            alt="WEBQLO Client - Taisho Pharmaceutical" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/taiko_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/taiko_logo.png"
                            alt="WEBQLO Client - Taiko" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/kto_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/kto_logo.png"
                            alt="WEBQLO Client - Korea Tourism Organization" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/taiwan_excellence_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/taiwan_excellence_logo.png"
                            alt="WEBQLO Client - Taiwan Excellence" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/amway_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/amway_logo.png"
                            alt="WEBQLO Client - Amway" width="300" height="150" />
                    </picture>
                </div>
            </div><!-- desktop row 4 -->
            <div class="row">
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/rakuten_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/rakuten_logo.png"
                            alt="WEBQLO Client - Rakuten" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/kkm_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/kkm_logo.png"
                            alt="WEBQLO Client - KKM" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/sunway_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/sunway_logo.png"
                            alt="WEBQLO Client - Sunway" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/guocera_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/guocera_logo.png"
                            alt="WEBQLO Client - Guocera" width="300" height="150" />
                    </picture>
                </div>
                <div class="client-item-wrapper col text-center">
                    <picture>
                        <source srcset="https://www.webqlo.com/images/new_client_logo/tiger_logo.webp"
                            type="image/webp" />
                        <img class="client-item-logo"
                            src="https://www.webqlo.com/images/new_client_logo/tiger_logo.png"
                            alt="WEBQLO Client - Tiger" width="300" height="150" />
                    </picture>
                </div>
            </div><!-- desktop row 5 -->
        </div><!-- client-list-wrapper d-md-block d-none -->

        <div class="client-list-slider d-md-none d-block owl-carousel owl-theme">
            <div class="client-list-slide">
                <div class="row m-0 text-center">
                    <div class="col-6 px-0 client-list-img-wrapper">
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/phc_log.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/phc_log.png"
                                alt="WEBQLO Client - Pizza Hut Thailand" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/nars_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/nars_logo.png"
                                alt="WEBQLO Client - NARS" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/clarins_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/clarins_logo.png"
                                alt="WEBQLO Client - Clarins" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/taisho_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/taisho_logo.png"
                                alt="WEBQLO Client - Taisho Pharmaceutical" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/rakuten_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/rakuten_logo.png"
                                alt="WEBQLO Client - Rakuten" width="300" height="150" />
                        </picture>
                    </div>
                    <div class="col-6 px-0 client-list-img-wrapper">
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/abbott_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/abbott_logo.png"
                                alt="WEBQLO Client - Abbott" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/shiseido_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/shiseido_logo.png"
                                alt="WEBQLO Client - Shiseido" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/estee_lauder_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/estee_lauder_logo.png"
                                alt="WEBQLO Client - Estee Lauder" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/taiko_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/taiko_logo.png"
                                alt="WEBQLO Client - Taiko" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/kkm_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/kkm_logo.png"
                                alt="WEBQLO Client - KKM" width="300" height="150" />
                        </picture>
                    </div>
                </div>
            </div><!-- mobile client-list-slide 1 -->
            <div class="client-list-slide">
                <div class="row m-0 text-center">
                    <div class="col-6 px-0 client-list-img-wrapper">
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/hbct_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/hbct_logo.png"
                                alt="WEBQLO Client - Hokkaido Baked Cheese Tart" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/cpb_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/cpb_logo.png"
                                alt="WEBQLO Client - Cle De Peau" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/zuellig_pharma_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/zuellig_pharma_logo.png"
                                alt="WEBQLO Client - Zuellig Pharma" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/kto_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/kto_logo.png"
                                alt="WEBQLO Client - Korea Tourism Organization" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/sunway_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/sunway_logo.png"
                                alt="WEBQLO Client - Sunway" width="300" height="150" />
                        </picture>
                    </div>
                    <div class="col-6 px-0 client-list-img-wrapper">
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/sr_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/sr_logo.png"
                                alt="WEBQLO Client - Secret Recipe" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/laura_mercier_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/laura_mercier_logo.png"
                                alt="WEBQLO Client - Laura Mercier" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/mahsing_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/mahsing_logo.png"
                                alt="WEBQLO Client - Mah Sing" width="300" height="150" />
                        </picture>
                        <picture>
                            <source
                                srcset="https://www.webqlo.com/images/new_client_logo/taiwan_excellence_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/taiwan_excellence_logo.png"
                                alt="WEBQLO Client - Taiwan Excellence" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/guocera_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/guocera_logo.png"
                                alt="WEBQLO Client - Guocera" width="300" height="150" />
                        </picture>
                    </div>
                </div>
            </div><!-- mobile client-list-slide 2 -->
            <div class="client-list-slide">
                <div class="row m-0 text-center justify-content-center">
                    <div class="col-6 px-0 client-list-img-wrapper">
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/spritzer_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/spritzer_logo.png"
                                alt="WEBQLO Client - Spritzet" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/laneige_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/laneige_logo.png"
                                alt="WEBQLO Client - Laneige" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/loreal_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/loreal_logo.png"
                                alt="WEBQLO Client -  L'Oréal" width="300" height="150" />
                        </picture>
                    </div>
                    <div class="col-6 px-0 client-list-img-wrapper">
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/amway_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/amway_logo.png"
                                alt="WEBQLO Client - Amway" width="300" height="150" />
                        </picture>
                        <picture>
                            <source srcset="https://www.webqlo.com/images/new_client_logo/tiger_logo.webp"
                                type="image/webp" />
                            <img class="client-item-logo"
                                src="https://www.webqlo.com/images/new_client_logo/tiger_logo.png"
                                alt="WEBQLO Client - Tiger" width="300" height="150" />
                        </picture>
                    </div>
                </div>
            </div><!-- mobile client-list-slide 3 -->
        </div><!-- client-list-slider mobile-991-show -->

        <!-- Slider mode -->
    </div><!-- custom-container -->
</div><!-- #our-client -->