<!-- End Google Tag Manager (noscript) -->
<div id="app">

    <app-navbar></app-navbar>
    <app-carousel></app-carousel>

    <div id="what-we-do" class="what-we-do-section section">
        <div class="custom-container">
            <h2 class="section-title all-caps text-center sanfpro-bold">
                What We Do
            </h2>
            <div class="row mx-0">
                <div class="col-12 col-md-6 px-0 pr-md-5 pr-0 pb-5">
                    <div class="section-image text-center position-relative">
                        <video class="video-gif w-100 mw-100" autoplay loop muted playsinline>
                            <source
                                src="https://www.webqlo.com/images/what-we-do/integrated-digital-marketing/Integrated_Digital_Marketing_MASTER_compressed.mp4"
                                type="video/mp4">
                            <img src="https://www.webqlo.com/images/what-we-do/integrated-digital-marketing/Integrated-Digital-Marketing.webp"
                                data-original="https://www.webqlo.com/images/what-we-do/integrated-digital-marketing/Integrated-Digital-Marketing.png"
                                title="Your browser does not support the <video> tag" />
                        </video>


                    </div>
                    <a class="section-text text-decoration-none"
                        href="https://www.webqlo.com/integrated-digital-marketing"
                        rel="Integrated Digital Markering Link">
                        <div class="text-padding">
                            <h3 class="text-black sanfpro-bold gradient-color integrated-digital-marketing">Integrated
                                Digital Marketing</h3>
                            <div class="text-black section-details sanfpro-regular mt-3 mt-md-4">
                                <p class="text-black">We seamlessly integrate 360° channels in your marketing campaigns,
                                    ensuring a strategic and smooth customer journey.</p>
                            </div>
                        </div>
                    </a>
                </div><!-- col-12 col-md-6 for Integrated Digital Marketing -->
                <div class="col-12 col-md-6 px-0 pl-md-5 ">
                    <div class="section-image text-center position-relative">
                        <video class="video-gif w-100 mw-100 " autoplay loop muted playsinline>
                            <source
                                src="https://www.webqlo.com/images/what-we-do/social-media-marketing/Social_Media_Marketing_MASTER_compressed.mp4"
                                type="video/mp4">
                            <img src="https://www.webqlo.com/images/what-we-do/social-media-marketing/Social-Media-Marketing.webp"
                                data-original="https://www.webqlo.com/images/what-we-do/social-media-marketing/Social-Media-Marketing.png"
                                title="Your browser does not support the <video> tag" />
                        </video>

                    </div>
                    <a class="section-text text-decoration-none" href="https://www.webqlo.com/social-media-marketing"
                        rel="Social Media Markerting Link">
                        <div class="text-padding">
                            <h3 class="text-black sanfpro-bold gradient-color social-media-marketing">Social Media
                                Marketing</h3>
                            <div class="text-black section-details sanfpro-regular mt-3 mt-md-4">
                                <p class="text-black">We specialize in growing your brand across all social media in
                                    Malaysia like Facebook, Instagram, TikTok, and more.</p>
                            </div>
                        </div>
                    </a>
                </div><!-- col-12 col-md-6 for Social Media Marketing -->
                <div class="col-12 col-md-6 px-0 pr-md-5 pr-0 pb-5">
                    <div class="section-image text-center position-relative">
                        <video class="video-gif w-100 mw-100" autoplay loop muted playsinline>
                            <source
                                src="https://www.webqlo.com/images/what-we-do/performance-marketing/Performance_Marketing_Home_MASTER_compressed.mp4"
                                type="video/mp4">
                            <img src="https://www.webqlo.com/images/what-we-do/performance-marketing/Performance-Marketing.webp"
                                data-original="https://www.webqlo.com/images/what-we-do/performance-marketing/Performance-Marketing.png"
                                title="Your browser does not support the <video> tag" />
                        </video>

                    </div>
                    <a class="section-text text-decoration-none" href="https://www.webqlo.com/performance-marketing"
                        rel="Performance Marketing Link">
                        <div class="text-padding">
                            <h3 class="text-black sanfpro-bold gradient-color performance-marketing">Performance
                                Marketing</h3>
                            <div class="text-black section-details sanfpro-regular mt-3 mt-md-4">
                                <p class="text-black">Measure every action, from clicks to leads to sales. Achieve
                                    remarkable results in your performance marketing journey with us.</p>
                            </div>
                        </div>
                    </a>
                </div><!-- col-12 col-md-6 for Performance Marketing -->
                <div class="col-12 col-md-6 px-0 pl-md-5 pl-0 pb-5">
                    <div class="section-image text-center position-relative">
                        <video class="video-gif w-100 mw-100" title="Social Media Intelligence GIF" autoplay loop muted
                            playsinline>
                            <source
                                src="https://www.webqlo.com/images/what-we-do/social-media-intelligence/Social_Media_Intelligence_MASTER_compressed.mp4"
                                type="video/mp4">
                            <img src="https://www.webqlo.com/images/what-we-do/social-media-intelligence/Social-Media-Intelligence.webp"
                                data-original="https://www.webqlo.com/images/what-we-do/social-media-intelligence/Social-Media-Intelligence.png"
                                title="Your browser does not support the <video> tag" />
                        </video>

                    </div>
                    <a class="section-text text-decoration-none" href="https://www.webqlo.com/social-media-intelligence"
                        rel="Social Media Intelligence Link">
                        <div class="text-padding">
                            <h3 class="text-black sanfpro-bold gradient-color social-media-intelligence">Social Media
                                Intelligence</h3>
                            <div class="text-black section-details sanfpro-regular mt-3 mt-md-4">
                                <p class="text-black">Unlock the power of data with our proprietary social media
                                    analytics. We delve into the 'why' behind the numbers, crafting successful digital
                                    marketing solutions for your brand.</p>
                            </div>
                        </div>
                    </a>
                </div><!-- col-12 col-md-6 for Social Media Intelligence -->
                <div class="col-12 col-md-6 px-0 pr-md-5 pr-0 pb-5">
                    <div class="section-image text-center position-relative">
                        <video class="video-gif w-100 mw-100" autoplay loop muted playsinline>
                            <source
                                src="https://www.webqlo.com/images/what-we-do/website-development/Website_Development_MASTER_compressed.mp4"
                                type="video/mp4">
                            <img src="https://www.webqlo.com/images/what-we-do/website-development/Website-Development.webp"
                                data-original="https://www.webqlo.com/images/what-we-do/website-development/Website-Development.png"
                                title="Your browser does not support the  tag" />
                        </video>

                    </div>
                    <a class="section-text text-decoration-none"
                        href="https://www.webqlo.com/our-work?type=web-design-and-development"
                        rel="Web Design & Development Link">
                        <div class="text-padding">
                            <h3 class="text-black sanfpro-bold gradient-color website-development">Web Design &
                                Development</h3>
                            <div class="text-black section-details sanfpro-regular mt-3 mt-md-4">
                                <p class="text-black">Web design company in Malaysia crafting world-class websites for
                                    brands. Let us create your stunning, responsive, and SEO-optimized online presence.
                                </p>
                            </div>
                        </div>
                    </a>
                </div><!-- col-12 col-md-6 for Website Development -->
                <div class="col-12 col-md-6 px-0 pl-md-5 pl-0 pb-5">
                    <div class="section-image text-center position-relative">
                        <video class="video-gif w-100 mw-100" autoplay loop muted playsinline>
                            <source
                                src="https://www.webqlo.com/images/what-we-do/big-data-analytics/Big_Data_Analytics_MASTER_compressed.mp4"
                                type="video/mp4">
                            <img src="https://www.webqlo.com/images/what-we-do/big-data-analytics/Big-Data-Analytics.webp"
                                data-original="https://www.webqlo.com/images/what-we-do/big-data-analytics/Big-Data-Analytics.png"
                                title="Your browser does not support the <video> tag" />
                        </video>

                    </div>
                    <a class="section-text text-decoration-none"
                        href="https://www.webqlo.com/our-work?type=ai-and-data-science" rel="AI & Data Science Link">
                        <div class="text-padding">
                            <h3 class="text-black sanfpro-bold gradient-color big-data-analytics">AI & Data Science</h3>
                            <div class="text-black section-details sanfpro-regular mt-3 mt-md-4">
                                <p class="text-black">Adqlo - Our proprietary AI and data technology provides bespoke
                                    business analytics. Tap into our 360° analytics for accelerated growth.</p>
                            </div>
                        </div>
                    </a>
                </div><!-- col-12 col-md-6 for Big Data Analytics -->
            </div>
        </div><!-- custom-container -->
    </div><!-- #what-we-do -->
    <div id="who-we-are" class="who-we-are-section section p-b-7r sanfpro-semibold">
        <div class="custom-container-who-we-are">
            <div class="p-5">
                <h2 class="section-title all-caps text-center sanfpro-bold mb-5">
                    Who We Are
                </h2>
                <div class="row">
                    <div class="col-12 col mb-5">
                        <p class="who-we-are-paragraph text-center">
                            We're a full-fledged, data-driven digital marketing agency in Malaysia that can meet your
                            business needs through creativity backed with insights.
                        </p>
                    </div>
                </div>
                <div class="button-container align-items-center text-center mb-5">
                    <a id="who-we-are-cta" class="shadow-btn m-auto sanfpro-semibold"
                        href="https://www.webqlo.com/who-we-are">Discover More</a>
                </div>
            </div>
        </div><!-- custom-container -->
    </div><!-- #who-we-are -->

    <app-our-client></app-our-client>

    <div id="contact" class="contact-section section align-items-center">
        <div class="custom-container h-100">
            <h2 class="contact-text all-caps text-center sanfpro-bold mb-5">
                Create an Impact With Us
            </h2>
            <div class="button-container align-items-center text-center mb-5">
                <a id="contact-cta" class="shadow-btn m-auto sanfpro-semibold"
                    href="https://www.webqlo.com/contact-us">Get In Touch</a>
            </div>
        </div>
    </div><!-- #contact -->
    
    <div class='subscribe-section custom-container text-right'>
        <button class="subscribe-btn" (click)="toggleForm()">
            <i class="fa fa-envelope mr-1" aria-hidden="true"></i>Subscribe!
        </button>
        <div class="subscribe-form-section" [ngClass]="{'d-block': isFormVisible, 'd-none': !isFormVisible}">
            <div class="subscribe-form-header">
                <div class="subscribe-header-title">
                    <i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                    <h5 class="text-white sanfpro-semibold">Hey, you!</h5>
                </div>
                <div class="subscribe-header-close">
                    <button class="close-subscribe-form-button" (click)="toggleForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="subscribe-form-body">
                <p class="mb-3">You want to get ahead of the game, right? Sign up and we'll send the best insights
                    right into your inbox.</p>
                <form id="subscribe_form" class="subscribe-form" (ngSubmit)="onSubmit()" autocomplete="off">
                    <input type="hidden" name="_token" value="3PsqmMhlalqiAq6Maanu8uAxzTFSFotTEeMw6kEE">
                    <input id="subscribe_email" type="email" name="subscribe_email" [(ngModel)]="email" placeholder="Your Email Address" required />
                    <button type="submit" class="btn-subscribe m-r-5">Subscribe</button>
                </form>
                <div id="subscribe_emailError" class="help-block text-danger" *ngIf="emailError">{{ emailError }}</div>
            </div>
        </div>
    </div>

    <div class='footer-section'>
        <hr class="footer-line">
        <div class="footer-container">
            <div class="footer-content">
    
                <!-- Policy Links -->
                <div class="footer-policies">
                    <a class="footer-policy-link" href="https://www.webqlo.com/terms-and-conditions" target="_blank" rel="Terms And Conditions">
                        Terms And Conditions
                    </a>
                    <a class="footer-policy-link" href="https://www.webqlo.com/privacy-policy" target="_blank" rel="Privacy Policy">
                        Privacy Policy
                    </a>
                    <a class="footer-policy-link" href="https://www.webqlo.com/refund-policy" target="_blank" rel="Refund Policy">
                        Refund Policy
                    </a>
                </div>
    
        </div>
    </div>
    
    

<!-- Modals -->
<div class="modal" id="thankyouSubscribeModal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <div class='thank-you-content'>
                    <h2 class='text-center thank-you-title'>
                        Awesome,
                    </h2>
                    <p class='text-center thank-you-content-desc'>
                        you’ve been subscribed!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="errorModal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <div class='thank-you-content'>
                    <h2 class='text-center thank-you-title mt-2'>
                        Oopss...
                    </h2>
                    <p class='text-center thank-you-content-desc mb-2'>
                        Something wrong with the server. Please try again later.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>